<div id="table-to-append">
  <table class="expensesTable">
    <tr>
      <th>Kind</th>
      <th>Date Due</th>
      <th>Amount</th>
      <th>Delete</th>
    </tr>

    <tr>

      <td>{{kind}}</td>
      <td>{{dueDate}}</td>
      <td>{{amount}}</td>
      <td><button class="deleteExpense" type="button" data-id="{{dataId}}" name="deleteBtn">Delete</button></td>

    </tr>

  </table>
</div>
