$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.expensesTable {
  border-color: black;
  border-collapse: collapse;
  border-style: ridge;
}

td,
th {
  border-color: black;
  border-collapse: collapse;
  border-style: ridge;
  width: 100px;

}
